# get from plateform.openai.com- for LLM calls,embeddings
OPENAI_API_KEY=
# where qdrant server is reachable
QDRANT_URL=http://localhost:6333

# required when qdrant is running with auth enabled, for local docker setup, leave it blank
QDRANT_API_KEY=